#draggable-admin {
    flex-direction:row-reverse;
    background-color:black;
    z-index:999;
    right:0;
    
}
#options {
    height:fit-content;
    width: 250px;
    position: relative;
    top:inherit;
    z-index: 998;
    background: #000000;
    color: white;
    transition: all 0.3s;
}
