/* _content/Happy_Marriage/Views/Messenger/Messenger.cshtml.rz.scp.css */
#chat3 .form-control[b-j4n7idrb2o] {
    border-color: transparent;
}

    #chat3 .form-control:focus[b-j4n7idrb2o] {
        border-color: transparent;
        box-shadow: inset 0px 0px 0px 1px transparent;
    }

.badge-dot[b-j4n7idrb2o] {
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-left: 2.9rem;
    margin-top: -.75rem;
}
/* _content/Happy_Marriage/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-vf3e753k02] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-vf3e753k02] {
  color: #0077cc;
}

.btn-primary[b-vf3e753k02] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-vf3e753k02], .nav-pills .show > .nav-link[b-vf3e753k02] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-vf3e753k02] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-vf3e753k02] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-vf3e753k02] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-vf3e753k02] {
  font-size: 1rem;
  line-height: inherit;
}


