@model User_Messages
@using System.Text.Json
@{

    //List<User_Messages> chatmsgs = ViewData["ChatMsgs"] as List<User_Messages>;
    //int sender = int.Parse(ViewData["sender"].ToString());
    string ch = TempData["ChatMsgs"].ToString();
    List<User_Messages> chatmsgs = null;
    string send = TempData["sender"].ToString();
    int sender = 0;
    string rec = TempData["user_id"].ToString();
    int receiver = 0;
    if (ch != null || send != null || receiver != null) {
        chatmsgs = JsonSerializer.Deserialize<List<User_Messages>>(ch);
        sender = int.Parse(send);
        receiver = int.Parse(rec);
    }

}
<div class="container clearfix">
    @if (chatmsgs == null || sender == 0 || receiver == 0)
    {
        <h1>No Chat Selected</h1>
    }
    else
    {
        foreach (var chat in chatmsgs)
        {
            <div class="row d-flex">
                
                    @if (chat.UserId1 == sender)
                    {
                        <div class="border border-primary p-2 mr-auto">
                            You : @chat.Content
                        </div>
                    }
                    else
                    {
                        <div class="border border-primary p-2 ml-auto">
                            Other : @chat.Content
                        </div>
                    }
                
            </div>
            <div class="row p-2">
            </div>
        }
        @*<div>
            <form>
                <textarea class="form-control" id="textcontent" name="textcontent"></textarea>
                <input type="hidden" id="userid" name="userid" value=@receiver />
                <button class="btn btn-dark btn-lg btn-block mt-3 bg-gradient" type="submit" formaction="/Messenger/SendMessage/" formmethod="post">Send</button>
            </form>
        </div>*@
        <div>
            @Html.Partial("SendMessage")
        </div>
    }
</div>

