
@{
}
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col col-md-auto">
            @Html.Partial("MyConnectionsForMsg")
        </div>
        <div class="col col-lg-9">
            @Html.Partial("ChatBox")
        </div>
    </div>
</div>

