
@{
}
<section style="background-color: #CDC4F9;">
    <div class="container py-5">
        <div class="col-md-6 col-lg-5 col-xl-4 mb-4 mb-md-0">
            <div class="p-3">
                @Html.Partial("MyConnectionsForMsg")
            </div>
            <div class="pt-3 pe-3">
                @Html.Partial("ChatBox")
            </div>
        </div>
    </div>
</section>
