@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    string msg = ViewData["msg"].ToString();
}
<div class="container">
    <form>
        <label for="oldpassword">Enter Old Password</label>
        <input type="password" id="oldpassword" name="oldpassword" />
        <label for="newpassword">Enter New Password</label>
        <input type="password" id="newpassword" name="newpassword" />
        <label for="newpassword">Confirm New Password</label>
        <input type="password" id="confirmpassword" name="confirmpassword" oninput="matchpassword()"/>
        <div id="NoMatch">@msg</div>
        <button class="btn btn-dark btn-lg btn-block" id="btn" disabled type="submit" asp-action="ChangePassword" asp-controller="Auth" formmethod="post">Change Password</button>
    </form>
</div>
@section Scripts{
    <script>
        var pass = "";
        var confpass = "";
        
        function matchpassword() {
            pass = document.getElementById("newpassword").value;
            confpass = document.getElementById("confirmpassword").value;
            console.log(confpass);
            if (pass == confpass) {
                document.getElementById("btn").disabled = false;
                document.getElementById("NoMatch").innerHTML = "<h4></h4>"
            }
            else {
                document.getElementById("NoMatch").innerHTML = "<h4>Passwords Don't Match</h4>"
            }
        }
    </script>
}