@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    string msg = ViewData["msg"].ToString();
}
<div class="container">
    <div class="box align-self-center align-items-center">
        <form>

            <label for="email">Enter Your Registered Email :</label>
            <input type="text" id="email" name="email" />

                <button type="submit" class="btn btn-dark btn-lg btn-block" asp-controller="Auth" asp-action="ForgotPassword" formmethod="post">Submit</button>
            </form>
            @if(msg!=""){
            <div class="alert">
                @msg
            </div>
            }
            

        <button class="btn btn-dark btn-lg btn-block"><a asp-controller="Auth" asp-action="Login">Go Back</a></button>
        
    </div>
</div>