@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    User user = ViewData["user"] as User;
    String uid = ViewData["uid"].ToString();
}
<div class="container">
    <div class="box">

        <form>

            <input type="hidden" value=@user.UserName id="username" name="username"/>
            <input type="hidden" value=@uid id="uid" name="uid" />

            <label for="password">Enter New Password :</label>
            <input type="text" id="password" name="password"/>

            <label for="password1">Confirm New Password :</label>
            <input type="text" id="password1" name="password1" oninput="confirmpassword()"/>
            <div id="NoMatch"></div>

            <button type="submit" id="btn" disabled class="btn btn-dark btn-lg btn-block" asp-controller="Auth" asp-action="PasswordResetLink" formmethod="post">Submit</button>
            
        </form>

    </div>
</div>

@section Scripts{
    <script>
        var pass = "";
        var confpass = "";
        $("").ready(()=>{
            
        }
        );
        function confirmpassword(){
            pass = document.getElementById("password").value;
            confpass = document.getElementById("password1").value;
            console.log(confpass);
            if(pass == confpass){
                document.getElementById("btn").disabled = false;
                document.getElementById("NoMatch").innerHTML = "<h4></h4>"
            }
            else{
                document.getElementById("NoMatch").innerHTML = "<h4>Passwords Don't Match</h4>"
            }
        }
    </script>
}