@{
    string msg = ViewData["msg"] as string;
}

<div class="bg-warning">
    <h1>Register Yourself Here</h1>
    <form action="/Auth/Register" method="POST">
        <div class="row">
            <div class="col">
                <label for="firstname">First Name:</label>
                <input type="text" class="form-control" id="firstname" name="firstname" placeholder="First Name" required>
            </div>

            <div class="col">
                <label for="lastname">Last Name:</label>
                <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Last Name">
            </div>

            <div class="col">
                <label for="username">User Name:</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Your username">
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="abc@xyz.com" required>
            </div>

            <div class="col">
                <label for="contactnumber">Contact Number:</label>
                <input type="text" class="form-control" id="contactnumber" name="contactnumber" placeholder="Complete number with country code">
            </div>

            <div class="col">
                <label for="education">Max Education:</label>
                <select id="education" name="education" class="form-control">
                    <option value="Not Educated">Not Educated</option>
                    <option value="Matric">Matric</option>
                    <option value="Undergraduate">Undergraduate</option>
                    <option value="Graduate">Graduate</option>
                    <option value="Post-Graduate or Higher">Post-Graduate or Higher</option>
                    <option value="Other">Other</option>
                </select>
            </div>

            
        </div>

        <div class="row">

            <div class="col">
                <label for="dateofbirth">Date Of Birth:</label>
                <input type="date" class="form-control" id="dateofbirth" name="dateofbirth" required>
            </div>

            <div class="col" >
            <label for="gender">Gender:</label>
                <select id="gender" class="form-control" >
                    <option value="Select">Select</option>
                    <option value="Male" selected>Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>

            <div class="col">
                <label for="religion">Religion:</label>
                <input type="text" class="form-control" id="religion" name="religion" placeholder="Religion" required>
            </div>

        </div>

        <div class="row">

            <div class="col">
                <label for="job">Job Designation:</label>
                <input type="text" class="form-control" id="job" name="job" placeholder="your job description" required>
            </div>

            <div class="col">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="min characters 8 max 13" required>
            </div>
            <div class="col">
                <label for="password">Confirm Password:</label>
                <input type="password" class="form-control" id="password1" name="password1" placeholder="min characters 8 max 13" required>
            </div>
        </div>
        <br/>
        @if (msg != null)
        {
            <div>@msg</div>
        }
        <button type="submit" class="btn btn-dark btn-lg btn-block">Register</button>
    </form>
</div>
