@model User_Report
@{
    string msg = ViewData["msg"].ToString();
    int reportedon = int.Parse(ViewData["ReportedOn"].ToString());
    int reportedby = int.Parse(ViewData["ReportedBy"].ToString());
}
<div class="container">
    <div class="box">
        <form>
            <input type="hidden" asp-for="ReportedBy" value=@reportedby/>
            <input type="hidden" asp-for="ReportedOn" value=@reportedon />
            <label for="description">Describe your report</label><br/>
            <textarea type="text" asp-for="Description" id="description" name="description" placeholder="Write here within 300 words"></textarea>
            @msg
            <button type="submit" class="btn btn-block btn-warning" formaction="/ProfilePage/GenerateReport/" formmethod="post">Report</button>
            <button type="button" class="btn btn-block btn-dark" formaction="/ProfilePage/MyConnections/" formmethod="get">Go Back</button>
        </form>
        
    </div>
</div>