@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    string imgurl = ViewData["imgurl"] as string;
}
<div>
    <img src=@imgurl />
</div>
<div>
    <form>
        <input type="hidden" value=@imgurl id="imgurl" name="imgurl">

        <button type="submit" class="btn btn-dark btn-lg btn-block mt-3 bg-gradient" asp-controller="ProfilePage" asp-action="SetAsProfilePhoto" formmethod="post" id="btn1">Set As Profile Picture</button>

        <button type="submit" class="btn btn-dark btn-lg btn-block mt-3 bg-gradient" asp-controller="ProfilePage" asp-action="SetAsCoverPhoto" formmethod="post" id="btn2">Set As Cover Picture</button>

        <button type="submit" class="btn btn-dark btn-lg btn-block mt-3 bg-gradient" asp-controller="ProfilePage" asp-action="DeleteFromUploads" formmethod="post" id="btn3">Delete Picture</button>

        <button type="button" class="btn btn-dark btn-lg btn-block mt-3 bg-gradient" href="/ProfliePage/MyUploads">Go Back</button>

    </form>
</div>