
@{
}
<div class="container-fluid min-vh-100 d-flex flex-column">
    <div class="row flex-grow-1">
        <div class="d-flex flex-column pt-3 text-white bg-dark" style="width:250px">
            @Html.Partial("Sidebar.cshtml")
        </div>
        <div class="container border border-success col-7" id="feed">
            
                Empty Feed
            
        
        </div>
        <div class="container border border-warning col-2" id="advertisment">
            
                Advertisment
            
        
        </div>
    </div>
</div>





