@model UploaderModel
@{
    string msg = ViewData["msg"] as string;
    List<User_Upload> imglist = ViewData["imglist"] as List<User_Upload>;
    
}
<div class="row">
    <div class="text-center">
        <form method="post" enctype="multipart/form-data" action="/ProfilePage/MyUploads">
            <h2>Upload From Here</h2>
            <label class="form-label" asp-for="File">Default file input example</label>
            <input asp-for="File" class="form-control" id="file" name="file"/>
            <span asp-validation-for="File" class="text-danger"></span>

            <button type="submit" class="btn btn-dark btn-lg btn-block mt-3 bg-gradient" id="btn" name="btn">Upload</button>
        </form>
        @if (msg != null)
        {
            <span>@msg</span>
            
        }
    </div>
</div>
<hr/>
<div class="row">
    @if (imglist != null)
    {
        foreach (var img in imglist)
        {
            <div class="col-sm-auto p-4">
                <a href="/ProfilePage/ImageDetails/?img=@img.ImageUrl"><img src=@img.ImageUrl height=150 /></a>
            </div>  
        }
    }
    else
    {
        <h3>No Images Yet</h3>
    }
</div>