@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}

@*<div id="draggable-admin">
    <a href="#options" data-toggle="collapse" aria-expanded="false"><i class="bi bi-list" style="font-size:2rem;right:0;color:white;"></i></a>
    <a href="/Account/AdminLogOut/" class="nav-link text-white">Logout</a>
    <div id="interactive-menu">
        <ul class="collapse list-unstyled" id="options">
            <li><a href="\Account\AdminLogOut\">Logout</a></li>
        </ul>
    </div>
    
</div>*@
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark box-shadow">
    <div class="container-fluid">
        <a href="#options" data-toggle="collapse" aria-expanded="false"><i class="bi bi-list" style="font-size:2rem;right:0;color:white;"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                
            </ul>
            <ul class="navbar-nav flex-grow">
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="Identity" asp-controller="Account" asp-action="AdminLogOut">Log Out</a>
                    </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid p-5">
@section Scripts{
    <script>
            
        $().ready(() => {
                $('#options').on('click', function () {
                    $('#interactive-menu').toggleClass('active');
                });
            $("#AllUsers").click(
            function AllUsers() {
                $.ajax({
                    type: "GET",

                    url: "/Api/AllUsers/",
                    datatype: "json",
                    success: (result) => {
                                var str = `<table class="table">
                                            <tr> <th>User Name </th><th> Approval Status </th> <th>Visit Profile</th></tr>
                                           `;
                        
                        for(var x in result.value) {
                            str += `
                                    <tr>
                                        <td> `+ result.value[x].userName + ` </td>
                                        <td> `+ result.value[x].approvalStatus + ` </td>
                                        <td>
                                            <form>
                                                <input type="hidden" id="userid" name="userid" value=`+ result.value[x].userId + ` />
                                                <button class="btn btn-info btn-block" formaction="/ProfilePage/OthersProfile/" formmethod="post" > Visit Profile </button>
                                            </form>
                                        </td>
                                    </tr>`
                            
                        }
                        str += "</table>"
                        document.getElementById("userlst").innerHTML = str;
                    },
                    error: (req, status, error) => {
                        console.log("AN ERROR OCCURED WITH AJAX");
                    }
                });
            });

            $("#PendingForApproval").click(
            function PendingForApproval(){
                $.ajax({
                    type: "GET",

                    url: "/Api/PendingForApprovalUsers/",
                    datatype: "json",
                    success: (result) => {
                        var str = `<table class="table">
                                    <tr><th>User Name</th><th>Approval Status</th><th>Visit Profile</th><th>Accept</th><th>Reject</th></tr>`;
                        
                        for (var x in result.value) {
                            str += `
                            <tr>
                                <td> `+ result.value[x].userName + `</td>
                                <td> `+ result.value[x].approvalStatus + `</td>
                                <td>
                                    <form>
                                        <input type="hidden" id="userid" name="userid" value=`+ result.value[x].userId + ` />
                                        <button class="btn btn-info btn-block" formaction="/ProfilePage/OthersProfile/" formmethod = "post" > Visit Profile </button>
                                    </form>
                                </td>
                                <td>
                                    <form>
                                        <input type="hidden" id="userid" name="userid" value=`+result.value[x].userId+` />
                                        <button class="btn btn-success btn-block" formaction="/Account/AcceptAccount/" formmethod = "post" > Accept </button>
                                    </form>
                                </td>
                                <td>
                                    <form>
                                        <input type="hidden" id="userid" name="userid" value=`+ result.value[x].userId + ` />
                                        <button class="btn btn-danger btn-block" formaction="/Account/RejectAccount/" formmethod = "post" > Reject </button>
                                    </form>
                                </td>
                                
                            </tr>`
                        }
                        str += "</table>"
                        document.getElementById("userlst").innerHTML = str;
                    },
                    error: (req, status, error) => {
                        console.log("AN ERROR OCCURED WITH AJAX");
                    }
                });
            });

            $("#RejectedUsers").click(
            function RejectedUsers(){
                $.ajax({
                    type: "GET",

                    url: "/Api/RejectedUsers/",
                    datatype: "json",
                    success: (result) => {
                        var str = `<table class="table">
                                   <tr><th>User Name</th><th>Approval Status</th><th>Visit Profile</th></tr>`;
                        
                        for (var x in result.value) {
                            str += `
                            <tr>
                                <td>`+result.value[x].userName+`</td>
                                <td> `+result.value[x].approvalStatus+`</td>
                                <td>
                                    <form>
                                        <input type="hidden" id="userid" name="userid" value=`+ result.value[x].userId + ` />
                                        <button class="btn btn-info btn-block" formaction="/ProfilePage/OthersProfile/" formmethod = "post" > Visit Profile </button>
                                    </form>
                                </td>
                            </tr>
                            `
                        }
                        str += "</table>"
                        document.getElementById("userlst").innerHTML = str;
                    },
                    error: (req, status, error) => {
                        console.log("AN ERROR OCCURED WITH AJAX");
                    }
                });
            });

            $("#Reports").click(
                function Reports() {
                    $.ajax({
                        type: "GET",

                        url: "/Api/Reports/",
                        datatype: "json",
                        success: (result) => {
                            var str = `<table class=table>
                                       <tr><th>User Name</th><th>No of Reports</th><th>View Reports</th><th>Visit Profile</th><th>Ban</th></tr>`;
                            
                            for (var x in result.value) {
                                
                                str += `
                                    <tr>
                                        <td> `+ result.value[x].userName + `</td>
                                        <td> `+ result.value[x].reportCount +` </td>
                                        <td>
                                            <form>
                                                <input type="hidden" id="userid" name="userid" value=`+ result.value[x].userId + ` />
                                                <button class="btn btn-info btn-block" formaction="/Account/ViewReports/" formmethod = "post" > Show Reports </button>
                                            </form>
                                        </td>
                                         <td>
                                            <form>
                                                <input type="hidden" id="userid" name="userid" value=`+ result.value[x].userId + ` />
                                                <button class="btn btn-info btn-block" formaction="/ProfilePage/OthersProfile/" formmethod = "post" > Visit Profile </button>
                                            </form>
                                        </td>
                                        <td>
                                            <form>
                                                <input type="hidden" id="userid" name="userid" value=`+ result.value[x].userId + ` />
                                                <button class="btn btn-warning btn-block" formaction="/Account/BanAccount/" formmethod = "post" > Ban </button>
                                            </form>
                                        </td>
                                    </tr>
                                    `
                            }
                            str += "</table>"
                            document.getElementById("userlst").innerHTML = str;
                        },
                        error: (req, status, error) => {
                            console.log("AN ERROR OCCURED WITH AJAX");
                        }
                    });
                });

            $("#BannedUsers").click(
            function BannedUsers(){
                $.ajax({
                    type: "GET",

                    url: "/Api/BannedUsers/",
                    datatype: "json",
                    success: (result) => {
                        var str = `<table class=table>
                                               <tr><th>User Name</th><th>Approval Status</th><th>Visit Profile</th><th>Uplift Ban</th></tr>`;
                        
                        for (var x in result.value) {
                            str += `
                            <tr>
                                <td> `+result.value[x].userName+`</td>
                                <td> `+result.value[x].approvalStatus+` </td>
                                <td>
                                    <form>
                                        <input type="hidden" id="userid" name="userid" value=`+ result.value[x].userId + ` />
                                        <button class="btn btn-info btn-block" formaction="/ProfilePage/OthersProfile/" formmethod = "post" > Visit Profile </button>
                                    </form>
                                </td>
                                <td>
                                    <form>
                                        <input type="hidden" id="userid" name="userid" value=`+ result.value[x].userId + ` />
                                        <button class="btn btn-warning btn-block" formaction="/Account/UpliftBan/" formmethod = "post" > Uplift Ban </button>
                                    </form>    
                                </td>
                            </tr>
                            `
                        }
                        str += "</table>"
                        document.getElementById("userlst").innerHTML = str;
                    },
                    error: (req, status, error) => {
                        console.log("AN ERROR OCCURED WITH AJAX");
                    }
                });
            });
        })   
        
        

    </script>
}
    
        
    
    <div class="row flex-nowrap">
        <div class="col col-lg-4">
            <div class="row">
                
                <button class="btn btn-dark btn-lg btn-block" id="AllUsers">All Users</button>

            </div>
            <div class="row">

                <button class="btn btn-dark btn-lg btn-block" id="PendingForApproval">Pending For Approval</button>

            </div>
            <div class="row">

                <button class="btn btn-dark btn-lg btn-block" id="RejectedUsers">Rejected Users</button>

            </div>
            <div class="row">

                <button class="btn btn-dark btn-lg btn-block" id="Reports">Reports</button>

            </div>
            <div class="row">

                <button class="btn btn-dark btn-lg btn-block" id="BannedUsers">Banned Users</button>

            </div>
        </div>
        <div class="col col-lg-8 overflow-adminhome">

            <div class="container" id="userlst">

            </div>


        </div>
    </div>
</div>