
@{

}
<div class="container-fluid">
    <div class="text-center">
        <h1>Welcome Admin</h1>
    </div>
    <div class="row flex-row flex-grow-1">
        <div class="col-2"></div>
        
    </div>
</div>